// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

$header-height: 36px;

#app-main{
    padding-top: $header-height;
    position: relative;
    z-index: 0;
}

body{
    max-height: 100vh;
}

body.scroll{
    overflow-y: hidden;
}

#app-header{
    height: $header-height;
    position: fixed;
    z-index: 1;
    width: 100%;
    text-align: right;
    background-color: #ffffff;
    .title{
        position: absolute;
        left: 0;
        right: 0;
        z-index: 0;

        line-height: $header-height;
        font-family: $header-font-stack;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        color: $mid-grey;
        text-transform: uppercase;

        width: 100%;
        height: $header-height;
    }
    .cart{
        position: relative;
        z-index: 1;

        height: $header-height;
        display: inline-block;
        a{
            display: block;
            overflow: hidden;
        }
        .amount{
            display: block;
            float: left;
            height: $header-height;
            max-height: $header-height;
            min-height: $header-height;
            min-width: 16px;
            padding: 10px 0;
            .count{
                padding: 0 5px;
                background-color: $color-green;
                display: block;
                min-width: 100%;
                height: 100%;
                border-radius: 8px;

                color: #FFFFFF;
                text-align: center;
                font-size: 12px;
                line-height: 16px;
            }
        }
        .icon{
            display: block;
            float: left;
            height: $header-height;
            max-height: $header-height;
            min-height: $header-height;
            padding: 10px 5px;
            img {
                display: block;
                width: auto;
                max-height: 100%;
            }
        }
    }
    .nav{
        position: relative;
        z-index: 1;

        height: $header-height;
        max-height: $header-height;
        min-height: $header-height;
        display: inline-block;
        .links{
            position: absolute;
            z-index: 10;
            right: -100vw;
            width: 100vw;
            height: 100vh;
            padding-bottom: $header-height;
            overflow-y: scroll;
            background-color: rgb(255,255,255);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            ul{
                list-style: none;
                padding: 0 10px;
                li{
                    a{
                        display: block;
                        padding: 10px 0;
                        color: $color-green;
                        font-family: $header-font-stack;
                        font-size: 14px;
                        font-weight: bold;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }
                li.hr{
                    margin: 15px 0;
                    height: 1px;
                    background-color: #F0F0F0;
                }
            }
        }
        .links.open{
            right: 0;
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }
        .hamburger{
            display: block;
            width: 20px;
            height: 14px;
            margin: 11px 10px 11px 5px;
            position: relative;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
        }

        .hamburger span{
          display: block;
          position: absolute;
          height: 1px;
          width: 100%;
          background: $color-green;
          border-radius: 1px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
        }

        .hamburger span:nth-child(1) {
          top: 0px;
        }

        .hamburger span:nth-child(2),.hamburger span:nth-child(3) {
          top: 6px;
        }

        .hamburger span:nth-child(4) {
          top: 12px;
        }

        .hamburger.open span:nth-child(1) {
          top: 6px;
          width: 0%;
          left: 50%;
        }

        .hamburger.open span:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        .hamburger.open span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        .hamburger.open span:nth-child(4) {
          top: 6px;
          width: 0%;
          left: 50%;
        }
    }
}
