<div class="container" style="min-height: 100vh" layout="column" ng-cloak>

        <div ng-repeat="product in vm.cart().items track by $index">
            <div ng-include src="'html/partials/cart.product.partial.html'"></div>
        </div>

        <div ng-show="vm.cart().items.length == 0">
          <h3>
              Je winkelwagen is leeg
          </h3>
        </div>

        <div>
          <a class="c-btn" href="#/shop">Verder shoppen</a>
        </div>

        <div>
          <button class="c-btn" ng-disabled="vm.cart().items.length == 0" ng-click="vm.checkout()">Bestellen</button>
        </div>

</div>
