// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Header font family
/// @type List
$header-font-stack: 'Montserrat', 'Helvetica', 'Arial', sans-serif !default;

/// Regular font family
/// @type List
$text-font-stack: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


/// Main colors
$color-blue:            #84BBD9;
$color-blue-dark:       #78A6C8;
$color-blue-darker:     #618DB1;

$color-green:           #8AC43E;
$color-green-dark:      #6C9C40;
$color-green-darker:    #54913F;

$color-red:             #E7735F;
$color-red-dark:        #C9634C;
$color-red-darker:      #B64941;

$color-grey:            #484A49;
$color-grey-dark:       #3D403F;
$color-grey-darker:     #282B2A;

$color-white:           #F1F1F2;
$color-white-dark:      #E6E7E8;
$color-white-darker:    #D0D2D3;


/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: $color-green !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'small': (min-width: 320px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
