<article class="c-product">
    <section class="c-product-img" style="background-image: url('{{ product.image_url }}')"></section>
    <section class="c-product-info">
        <p class="c-product-info-title">{{product.title}}</p>
        <p class="c-product-info-price" ng-hide="product.promoted">€ {{product.price}}</p>
        <p class="c-product-info-price" ng-show="product.promoted">
            <span class="c-product-info-price-original">€ {{product.price}}</span>
            <span class="c-product-info-price-promoted">€ {{product.promoted_price}}</span>
        </p>
    </section>
    <section class="c-product-actions">
        <a href ng-click="vm.cart().remove(product)" class="c-icon-btn sm">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                <g>
                <g>
                <path class="main" fill="#939598" d="M32.013,62.43l-4.507-4.457C10.886,43.262,0,33.338,0,21.161C0,11.259,7.694,3.572,17.603,3.572
                c5.446,0,10.885,2.573,14.41,6.729c3.505-4.156,8.938-6.729,14.391-6.729C56.301,3.572,64,11.259,64,21.161
                c0,12.177-10.879,22.101-27.512,36.812L32.013,62.43z M32.013,62.43"/>
                </g>
                </g>
            </svg>
        </a>
    </section>
</article>
