<div class="container">
    <picture class="product__image" >
        <img src="{{vm.product.image_url}}" alt="{{vm.product.title}} image">
    </picture>
    <div class="product__info">

    <section class="product__detail">
        <h1 class="product__title">{{vm.product.title}}</h1>
        <p class="product__price" ng-hide="vm.product.promoted">€{{vm.product.price}}</p>
        <p class="product__price" ng-show="vm.product.promoted">
            <span class="product__price-old">€ {{vm.product.price}}</span>
            <span class="product__promoted-price">€ {{vm.product.promoted_price}}</span>
        </p>
    </section>
    <section class="product__actions">
        <a class="c-icon-btn sm">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                <g>
                <g>
                <path class="main" fill="#939598" d="M32.013,62.43l-4.507-4.457C10.886,43.262,0,33.338,0,21.161C0,11.259,7.694,3.572,17.603,3.572
                c5.446,0,10.885,2.573,14.41,6.729c3.505-4.156,8.938-6.729,14.391-6.729C56.301,3.572,64,11.259,64,21.161
                c0,12.177-10.879,22.101-27.512,36.812L32.013,62.43z M32.013,62.43"/>
                </g>
                </g>
            </svg>
        </a>
        <a href class="c-icon-btn sm" ng-class="{active: vm.product.incart}" ng-click="vm.cart().add(product)">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                <g>
                    <g>
                    <path class="main" fill="#939598" d="M32.013,62.43"/>
                    </g>
                </g>
                <g>
                    <g>
                    <path class="main" fill="#939598" d="M63.557,14.635c-0.479-0.704-1.263-1.115-2.108-1.115H17.217L11.48,7.143
                    C10.828,6.43,9.915,6.021,8.948,6.021H3.397C1.527,6.021,0,7.539,0,9.418c0,1.871,1.527,3.391,3.397,3.391h4.046l4.628,5.146
                    l9.812,25.522c0.379,0.98,1.327,1.636,2.385,1.636h27c1.045,0,1.993-0.655,2.372-1.636l10.191-26.49
                    C64.129,16.2,64.025,15.316,63.557,14.635L63.557,14.635z M63.557,14.635"/>
                    </g>
                    <path class="main" fill="#939598" d="M33.307,52.888c0,2.81-2.275,5.091-5.094,5.091c-2.815,0-5.091-2.281-5.091-5.091
                    c0-2.809,2.275-5.104,5.091-5.104C31.031,47.784,33.307,50.079,33.307,52.888L33.307,52.888z M33.307,52.888"/>
                    <path class="main" fill="#939598" d="M52.031,52.888c0,2.81-2.275,5.091-5.101,5.091c-2.809,0-5.091-2.281-5.091-5.091
                    c0-2.809,2.282-5.104,5.091-5.104C49.756,47.784,52.031,50.079,52.031,52.888L52.031,52.888z M52.031,52.888"/>
                </g>
            </svg>
        </a>
    </section>
    </div>

    <p class="product__content">{{vm.product.content}}</p>

    <h1 class="section__title">Reviews</h1>
    <div ng-repeat="review in vm.product.reviews" class="review">
        <picture class="review__author-picture">
            <img src="http://lorempixel.com/100/100/people/" alt="{{review.author.name}}">
        </picture>
        <section class="review__author-info">
            <h1 class="review__author">{{review.author.name}}</h1>
            <p class="review__rating">{{review.rating}}/5</p>
            <p class="review__content">{{review.content}}</p>
            <p class="review__date">{{review.created_at}}</p>
        </section>
    </div>
</div>


<div class="container">
    <h1 class="section__title">Add A Review</h1>
    <form name="reviewForm">
        <div class="c-input-group">
            <label class="c-label ">Content</label>
            <textarea class="c-textarea" rows="5" ng-model="vm.add_review.content" md-select-on-focus required></textarea>
        </div>
        <div class="c-input-group">
            <label class="c-label ">Rating (0-5)</label>
            <input class="c-input " type="number" ng-model="vm.add_review.rating" required>
        </div>
        <div layout="row">
            <md-button class="c-btn full" ng-click="vm.add_review.submit()">Save</md-button>
        </div>
    </form>
</div>
