<div style="min-height: 100vh" layout="column" ng-cloak>
    <md-content>
        <div class="c-tabs-wrapper container" ng-init="tab = 1">
            <ul class="c-tabs">
              <li class="c-tab" ng-class="{active: tab == 1}"><a href ng-click="tab = 1">Ontbijt</a></li>
              <li class="c-tab" ng-class="{active: tab == 2}"><a href ng-click="tab = 2">Lunch</a></li>
              <li class="c-tab" ng-class="{active: tab == 3}"><a href ng-click="tab = 3">Diner</a></li>
              <li class="c-tab" ng-class="{active: tab == 4}"><a href ng-click="tab = 4">Dessert</a></li>
            </ul>
        </div>
        <section ng-show="tab == 1" class="c-tab-content">

            <div ng-repeat="product in vm.ontbijt">
              <div ng-include src="'html/partials/product.partial.html'"></div>
            </div>

        </section>
        <section ng-show="tab == 2" class="c-tab-content">

            <div ng-repeat="product in vm.lunch">
              <div ng-include src="'html/partials/product.partial.html'"></div>
            </div>

        </section>
        <section ng-show="tab == 3" class="c-tab-content">

        <div ng-repeat="product in vm.diner">
            <div ng-include src="'html/partials/product.partial.html'"></div>
        </div>

        </section>
        <section ng-show="tab == 4" class="c-tab-content">

            <div ng-repeat="product in vm.dessert">
                <div ng-include src="'html/partials/product.partial.html'"></div>
            </div>

        </section>
    </md-content>
</div>
