<div style="min-height: 100vh" layout="column" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>{{ vm.$$ui.title }}</span>
            </h2>
            <md-menu md-position-mode="target-right target" >
              <md-button aria-label="Open demo menu" ng-click="$mdOpenMenu($event)">
                  Menu
              </md-button>
              <md-menu-content width="4" >
                <md-menu-item ng-repeat="item in app.$$ui.menu">
                  <md-button ng-href="{{item.uri}}">
                      <div layout="row">
                        <p flex>{{ item.label }}</p>
                      </div>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-content>
        <h4>User: {{ vm.$$ui.user().name }}</h4>
        <h6>Winkelmandje:</h6>

        <md-card ng-repeat="product in vm.cart().items|limitTo:3 track by $index">
            <md-card-title>
                <md-card-title-media>
                    <div class="md-media-md card-media"><img ng-src="{{ product.image_url }}"></div>
                </md-card-title-media>
            </md-card-title>
        </md-card>

        <div ng-show="vm.cart().items.length == 0">
          <p>
              Je winkelwagen is leeg
          </p>
        </div>

        <h6>Aankopen:</h6>
        <h6>Favorieten:</h6>
    </md-content>
</div>
