// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


.hexagon {
  position: relative;
  width: 105%;
  height: 300px;
  background-color: $color-green;
  margin: 20vh 2vw 20vh -2vw;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  margin-left: -40vh;
  border-right: 40vh solid transparent;
  border-left: 40vh solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 15vh solid $color-green;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 15vh solid $color-green;
}

.intro__title{
  font-family: $header-font-stack;
  font-weight: 700;
  color: $color-green-darker;
  font-size: 1.5em;
  text-transform: uppercase;
}

.intro__content{
  font-family: $header-font-stack;
  font-weight: 500;
  color: #fff;
  font-size: 0.7em;
}


.footer__logo img{
  width: 80%;
}


.footer__credits{
  padding-top: 2em;
  padding-bottom: 1em;
}

.footer__credits p{
  text-transform: uppercase;
  font-family: $header-font-stack;
  font-weight: 200;
}

.footer__credits-label{
  color: $mid-grey;
  font-size: 0.7em;
}

.footer__credits-text{
  color: $color-green;
  font-size: 0.9em;
  margin-top: -1em;
}

.footer__credits-text span{
  color: $mid-grey;
}

.footer__links{
  padding-bottom: 3em;
}

.footer__links ul{
  list-style: none;
  padding-left: 0;
}

.footer__links a{
  text-transform: uppercase;
  color: $mid-grey;
  font-size: 0.7em;
  text-decoration: underline;
}

.footer__links a:hover{
  color: $color-green;
}