// -----------------------------------------------------------------------------
// This file contains styles that are specific to the product detail page.
// -----------------------------------------------------------------------------

.product__image img{
  width: 100%;
  max-height: 500px;
}

.product__title{
  font-family: Montserrat-Bold;
  font-size: 1em;
  text-transform: uppercase;
  color: $color-blue;
}

.product__price{
  font-size: 1em;
  color: #000;
}

.product__price-old{
  text-decoration: line-through;
  font-size: 0.7em;
  color: $mid-grey;
}

.product__promoted-price{
  font-family: Montserrat-Regular;
  font-size: 1.2em;
  color: $color-red;
}

.product__info{
  display: flex;
}

.product__detail{
  flex-grow: 1;
}
.product__actions{
  flex-grow: 0;
  padding-top: 0.5em;
}

.product__content{
  font-family: Montserrat-Regular;
  font-size: 0.7em;
  color: $mid-grey;
}

.section__title{
  margin-top: 3em;
  font-family: $header-font-stack;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1em;
  color: $color-blue;
}

.section__title::after{
  content: '';
  height: 1px;
  background-color: $color-blue;
  position: relative;
  bottom: 0;
  width: 100%;
  max-width: 30px;
  margin: 0;
  margin-top: 6px;
  display: block;
}

.review{
  display: flex
}

.review__author-picture{
  padding-right: 1em;
  padding-top: 1em;
}

.review__author-picture img{
  flex: 1;
  border-radius: 50%;
  width: 75px;
  height: 75px;

}

.review_author-info{
  flex: 0;
}

.review__author{
  font-family: $header-font-stack;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.9em;
}

.review__rating{
  font-family: $header-font-stack;
  font-weight: 500;
  font-size: 0.7em;
  color: $color-green;
}

.review__content{
  font-family: $header-font-stack;
  font-weight: 500;
  font-size: 0.7em;
  color: $mid-grey;
}

.review__date{
  font-family: $header-font-stack;
  font-weight: 500;
  font-size: 0.5em;
  color: $mid-grey;
}