<!DOCTYPE html>
<html lang="nl" ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Foodify</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Fonts -->
        <!-- <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>

        <!-- Styles -->
        <!-- <link rel="stylesheet" href="css/grid.css"> Gulp gaat alle css automatisch mergen in 1 bestand: app.css -->
        <link rel="stylesheet" href="css/angular.css">
        <link rel="stylesheet" href="css/app.css">

        <!-- Scripts -->
        <script src="vendor/angular/angular.js"></script>
        <script src="vendor/faker/faker.min.js"></script>
        <script src="vendor/lodash/lodash.min.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="AppController as app" ng-init="toggle = false" ng-class="{scroll:toggle}" ng-cloak>

        <header id="app-header">
            <section class="logo">

            </section>
            <section class="title">
                Home
            </section>
            <section class="cart">
                <a href="/#/cart">
                    <section class="amount" ng-show="app.cart().items.length > 0">
                        <span class="count">{{ app.cart().items.length }}</span>
                    </section>
                    <section class="icon">
                        <img src="/icons/cart-green.svg" />
                    </section>
                </a>
            </section>
            <section class="nav">
                <section class="hamburger" ng-class="{open:toggle}" ng-click="toggle=!toggle">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </section>
                <section class="links" ng-class="{open:toggle}">
                    <ul>
                        <li><a href="/" ng-click="toggle=false">home</a></li>
                        <li><a href="/#/shop" ng-click="toggle=false">shop</a></li>
                        <li><a href="/#/cart" ng-click="toggle=false">winkelwagen</a></li>
                        <li class="hr"></li>
                        <li><a href="/#/login" ng-click="toggle=false" ng-show="app.islogged() == false">log in</a></li>
                        <li><a href="/#/register" ng-click="toggle=false" ng-show="app.islogged() == false">registreer</a></li>
                        <li><a href="/#/account" ng-click="toggle=false" ng-show="app.islogged()">account</a></li>
                        <li><a href="/#/logout" ng-click="toggle=false" ng-show="app.islogged()">log out</a></li>
                    </ul>
                </section>
            </section>
        </header>

        <main id="app-main" ui-view class=""></main>

        <footer id="app-footer"></footer>
    </body>
</html>
