<div style="min-height: 100vh" layout="column" ng-cloak>


    <md-content layout-padding>
    <form name="loginForm">
      <div class="c-input-group">
        <label class="c-label">Email</label>
        <input class="c-input" required type="email" name="email" ng-model="vm.login.email"
               minlength="5" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
        <div ng-messages="loginForm.email.$error" role="alert">
          <div class="c-error" ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Your email must be between 5 and 100 characters long and look like an e-mail address.
          </div>
        </div>
      </div>
      <div class="c-input-group">
        <label class="c-label">Password</label>
        <input class="c-input" required type="password" name="password" ng-model="vm.login.password">
        <div ng-messages="loginForm.password.$error">
          <div class="c-error" ng-message="required">This is required.</div>
        </div>
      </div>
      <div>
          <md-button class="c-btn full" type="submit" ng-click="vm.login.submit()">Log in</md-button>
       </div>
      <div>
          <md-button class="c-btn full" ng-href="/#/register">Register</md-button>
       </div>
    </form>
  </md-content>
</div>
