<div style="min-height: 100vh" layout="column" ng-cloak>


    <md-content layout-padding>
    <form name="registerForm">
      <div class="c-input-group">
        <label class="c-label">Given name</label>
        <input class="c-input" required type="text" name="given_name" ng-model="vm.register.given_name">
        <div ng-messages="registerForm.given_name.$error">
          <div class="c-error" ng-message="required">This is required.</div>
        </div>
      </div>
      <div class="c-input-group">
        <label class="c-label">Family name</label>
        <input class="c-input" required type="text" name="family_name" ng-model="vm.register.family_name">
        <div ng-messages="registerForm.family_name.$error">
          <div class="c-error" ng-message="required">This is required.</div>
        </div>
      </div>
      <div class="c-input-group">
        <label class="c-label">Email</label>
        <input class="c-input" required type="email" name="email" ng-model="vm.register.email"
               minlength="5" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
        <div ng-messages="registerForm.email.$error" role="alert">
          <div class="c-error" ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Your email must be between 5 and 100 characters long and look like an e-mail address.
          </div>
        </div>
      </div>
      <div class="c-input-group">
        <label class="c-label">Password</label>
        <input class="c-input" required type="password" name="password" ng-model="vm.register.password">
        <div ng-messages="registerForm.password.$error">
          <div class="c-error" ng-message="required">This is required.</div>
        </div>
      </div>
      <div>
          <md-button class="c-btn full" type="submit" ng-click="vm.register.submit()">Register</md-button>
       </div>
    </form>
  </md-content>
</div>
