// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.c-btn{
    display: inline-block;
    min-width: 32px;
    min-height: 32px;
    background: #FFFFFF;
    padding: 0.2em;
    border: 1px solid $light-grey;
    border-bottom-width: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
    &.full {
        width: 100%;
    }
}

.c-icon-btn{
    position: relative;
    z-index: 1;
    display: flex;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    padding: 0.2em;
    border: 1px solid $light-grey;
    border-bottom-width: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
    object{
        display: block;
        svg{
            width: 100% !important;
            height: 100% !important;
        }
    }
    &.sm{
        width: 24px;
        height: 24px;
    }
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
    }
}

.c-icon-btn{
    .main{
        fill: $mid-grey;
    }
    &.active{
        .main{
            fill: $color-green;
        }
    }
}
