// -----------------------------------------------------------------------------
// This file contains all styles related to the form component.
// ----------

.c-form{
}

.c-input-group{
  font-family: $header-font-stack;
  font-weight: 500;
  border-top: 1px solid $mid-grey;
  border-bottom: 1px solid $mid-grey;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;

  width: 100%;
}

.c-label{
  font-family: $header-font-stack;
  font-size: 14px;
  display: inline-block;
  width: 30%;

}

.c-textarea{
  resize: none;
  border: none;
  display: inline-block;
  width: 65%;
  color: $mid-grey;
  font-size: 14px;
  padding-top: 0.5em;
  background-color: $light-grey;
}

.c-input{
  border: none;
  color: $mid-grey;
  font-size: 14px;
  display: inline-block;
  width: 65%;
  background-color: $light-grey;
}

.c-error{
  font-size: 0.7em;
  color: $color-red;
}

