// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.c-product{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    .c-product-img{
        flex-grow: 0;
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        height: 100px;
        max-height: 100px;
        min-height: 100px;
        background: url('http://lorempixel.com/300/300/food/?32942') center center;
        background-size: cover;
    }
    .c-product-info{
        flex-grow: 1;
        padding: 0 10px;
        p{
            margin: 0;
        }
        .c-product-info-title{
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            color: $color-blue;
            margin-bottom: 5px;
        }
        .c-product-info-price{
            font-size: 12px;
            .c-product-info-price-original{
                color: $color-grey;
                font-size: 0.8em;
                text-decoration: line-through;
            }
            .c-product-info-price-promoted{
                color: $color-red;
            }
        }
    }
    .c-product-actions{
        flex-grow: 0;
    }
}
