// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.c-tabs{
    display: flex;
    padding: 0;
    .c-tab{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 100%;
        text-align: center;
        color: $color-grey;
        font-family: $header-font-stack;
        font-weight: 200;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 16px;
        a{
            display: block;
            width: 100%;
            height: 100%;
            color: inherit;
            text-decoration: none;
        }
    }
    .c-tab:last-child{
        text-align: right;
    }
    .c-tab:first-child{
        text-align: left;
    }
    .c-tab.active{
        color: $color-green;
        font-size: 16px;
    }
    .c-tab.active::after{
        content: '';
        height: 1px;
        background-color: $color-green;
        position: relative;
        bottom: 0;
        width: 100%;
        max-width: 20px;
        margin: 0 auto;
        margin-top: 4px;
    }
    .c-tab:last-child.active::after{
        margin: 4px 0 0 auto;
    }
    .c-tab:first-child.active::after{
        margin: 4px auto 0 0;
    }
}
