<div style="min-height: 100vh" layout="column" ng-cloak>
    <md-content>
        <div class="c-tabs-wrapper container" ng-init="tab = 1">
            <ul class="c-tabs">
                <li class="c-tab" ng-class="{active: tab == 1}"><a href ng-click="tab = 1">Populair</a></li>
                <li class="c-tab" ng-class="{active: tab == 2}"><a href ng-click="tab = 2">Nieuw</a></li>
                <li class="c-tab" ng-class="{active: tab == 3}"><a href ng-click="tab = 3">Sales</a></li>
            </ul>
            <section ng-show="tab == 1" class="c-tab-content">

                <div ng-repeat="product in vm.popular">
                  <div ng-include src="'html/partials/product.partial.html'"></div>
                </div>

                <br><button ui-sref="shop" class="c-btn full">Open de shop</button>

            </section>
            <section  ng-show="tab == 2" class="c-tab-content">

                <div ng-repeat="product in vm.recent">
                  <div ng-include src="'html/partials/product.partial.html'"></div>
                </div>

                <br><button ui-sref="shop" class="c-btn full">Open de shop</button>

            </section>
            <section  ng-show="tab == 3" class="c-tab-content">

                <div ng-repeat="product in vm.sales">
                  <div ng-include src="'html/partials/product.partial.html'"></div>
                </div>

                <br><button ui-sref="shop" class="c-btn full">Open de shop</button>

            </section>
        </div>
    </md-content>
    <md-content flex layout-padding style="text-align:center;">
        <div class="hexagon">
      <h2 class="intro__title">WAT IS FOODIFY?</h2>
      <p class="intro__content">
          Foodify differentieert zich van andere webwinkels want we verkopen geen producten. Wel leveren we een onvergetelijke ervaring. Een nieuw gerecht heeft altijd iets speciaals omdat je dat nog nooit zelf hebt klaargemaakt of misschien zelfs nog nooit hebt gegeten.
      <p class="intro__content">
          Bij Foodify bestel je een box die wordt geleverd op de dag en het tijdstip naar wens. In die box zitten alle ingrediënten om de maaltijd te bereiden en het bijhorende recept.
      </p>
        </div>
  </md-content>
    <footer>
        <div class="container">
            <picture class="footer__logo">
                <img src="icons/logo.png">
            </picture>
            <section class="footer__credits">
                <div>
                    <p class="footer__credits-label">In opdracht van</p>
                    <p class="footer__credits-text">Arteveldehogeschool</p>
                </div>
                <div>
                    <p class="footer__credits-label">Gemaakt door</p>
                    <p class="footer__credits-text">Jef Roosens <span>&</span></p>
                    <p class="footer__credits-text">Maxime Vanhove</p>
                </div>
            </section>
            <section class="footer__links">
                <ul>
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="#">Terms Of Use</a></li>
                </ul>
            </section>
        </div>
    </footer>
</div>
